@page
@model LoginModel

@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                <div class="box-static box-border-top p-30">
                    <div class="box-title mb-30">
                        <h2 class="fs-20">Log In</h2>
                    </div>
                    <form class="m-0" id="account" method="post">
                        <div class="clearfix">

                            <!-- Email -->
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Input.Email" type="text" name="email" class="form-control" placeholder="Email Address" required="" />
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                            <!-- Password -->
                            <div class="form-group">
                                <input asp-for="Input.Password" type="password" name="password" class="form-control" placeholder="Password" required="" />
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-6 text-right" style="padding-top: 2%;">
                                <button type="submit" class="btn btn-primary btn-block">OK, LOG IN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
